 body{
   background-image: traders;

 }
.nav1{
  display : flex ;
  flex-direction: row;
  list-style: none;
  gap : 25px;
  justify-content: center;

}
.cname{
  background-color:rgb(32, 42, 108);
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item{
  background-color: rgb(228, 135, 235);
  padding: 5px;
  border-radius:5px ;


}
.nav-link{
  text-decoration: none;
  font-size:20px;
}

h1{
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
   color: rgb(82, 156, 208);
}

.reg{
  font-size: 40px;
}
#but1{
  font-size: 30px;
}
.regt{
  display: flex;
  justify-content: center;
  margin-top: 70px;

}
